* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

:root {
  --bg-color: #fff;
  --text-color: #0f172a;
  --main-color: #6b7280;
  --other-color: #334155;
  --big-font: 4.3rem;
  --h2-font: 2.2rem;
  --p-font: 1rem;
}

body {
  color: var(--text-color);
  background: var(--bg-color);
}

section {
  padding: 100px 11% 90px;
}
/* ------------------ Header ------------------ */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 17px 11%;
  border-bottom: 1px solid #f7f9fb;
  transition: all 0.3s ease;
  backdrop-filter: blur(10px);
}

header.sticky {
  background: var(--bg-color);
}

.logo img {
  width: 120px;
  height: auto;
}

.header__navbar {
  display: flex;
}

.header__navbarLink {
  font-size: var(--p-font);
  color: var(--other-color);
  font-weight: 400;
  padding: 10px 25px;
  margin: 0 5px;
  background: transparent;
  border-radius: 30px;
  transition: all 0.3s ease;
}

.header__navbarLink:hover,
.active {
  background: #c3e1ff;
}

.header__icons {
  display: flex;
  align-items: center;
}

.header__icons i {
  width: 50px;
  height: 50px;
  background: #c3e1ff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  color: var(--other-color);
  font-size: 22px;
  margin-right: 25px;
  margin-left: 10px;
  transition: all 0.3s ease;
}

.header__icons i:hover {
  transform: scale(0.9);
}

#menu-icon {
  display: none;
  color: var(--other-color);
  font-size: 33px;
  z-index: 1001;
  cursor: pointer;
}

/* ------------------ Home ------------------ */
.home {
  height: 100vh;
  width: 100%;
  background: #e3ffe6;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
}

.home__text h4 {
  font-size: 22px;
  font-weight: 500;
  color: var(--other-color);
}

.home__text h1 {
  font-size: var(--big-font);
  color: var(--text-color);
  line-height: 1.2;
  margin: 25px 0 45px;
}

.btn {
  display: inline-block;
  padding: 16px 30px;
  background: var(--text-color);
  color: var(--bg-color);
  font-size: 15px;
  letter-spacing: 1px;
  border-radius: 30px;
  transition: all 0.3s ease;
}

.btn:hover {
  opacity: 0.8;
  letter-spacing: 2px;
}

.home__img img {
  width: 100%;
  height: auto;
}

/* ------------------ Feature ------------------ */
.middle-text h2 {
  font-size: var(--h2-font);
  color: var(--text-color);
  font-weight: 600;
}

.middle-text span {
  color: var(--main-color);
}

.feature__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  gap: 2rem;
  align-items: center;
  margin-top: 5rem;
}

.row {
  padding: 40px 30px;
  background: #e3ffe6;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.row:hover {
  transform: translateY(-5px);
}

.row-2 {
  background: #fef2f2;
}

.row-3 {
  background: #eff6ff;
}

.main-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
}

.row-text h6 {
  font-size: 14px;
  font-weight: 500;
  color: var(--other-color);
  margin-bottom: 1rem;
}

.row-text h3 {
  margin-bottom: 3rem;
  font-size: 26px;
  font-weight: 600;
}

.row-btn {
  display: inline-block;
  padding: 12px 22px;
  background: var(--bg-color);
  color: var(--text-color);
  font-size: 15px;
  border-radius: 30px;
  transition: all 0.3s ease;
}

.row-btn:hover {
  background: var(--text-color);
  color: var(--bg-color);
  letter-spacing: 1px;
}

.row-img img {
  width: 170px;
  height: 170px;
  max-width: 100%;
  object-fit: cover;
}

/* ------------------ Product ------------------ */
.product__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  gap: 2rem;
  align-items: center;
  margin-top: 5rem;
}

.box {
  position: relative;
}

.box-img img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  margin-bottom: 1.2rem;
  transition: all 0.3s ease;
}

.box-img img:hover {
  transform: translateY(-10px);
}

.box h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  line-height: 1.1;
}

.box h4 {
  font-size: var(--p-font);
  color: var(--other-color);
  font-weight: 500;
  margin-bottom: 2rem;
}

.inbox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.price {
  display: inline-block;
  padding: 4px 16px;
  background: transparent;
  border: 2px solid tomato;
  color: tomato;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  transition: all 0.3s ease;
}

.price:hover {
  letter-spacing: 1px;
}

.rating a {
  font-size: 19px;
  color: tomato;
  margin-right: 4px;
}

.heart i {
  position: absolute;
  width: 42px;
  height: 42px;
  display: inline-flex;
  top: 20px;
  right: 25px;
  align-items: center;
  justify-content: center;
  background: var(--bg-color);
  color: tomato;
  font-size: 22px;
  border-radius: 50%;
  transition: all 0.3s ease;
  cursor: pointer;
}

.heart i:hover {
  background: tomato;
  color: var(--bg-color);
}

/* ------------------ Cta ------------------ */
.cta-content {
  background: #e3ffe6;
  margin: 0 11%;
  padding: 100px 11% 0;
  border-radius: 20px;
}

.cta {
  background: url(".././images/cta.webp") right/contain no-repeat;
  height: 700px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.cta__text {
  max-width: 560px;
  /* margin-left: 120px; */
}

.cta__text .logo img {
  width: 160px;
  margin-bottom: 1.5rem;
}

.cta__text h3 {
  font-size: 3.3em;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}

.cta__text p {
  font-size: var(--p-font);
  color: var(--other-color);
  font-weight: 500;
  margin-bottom: 2.5rem;
}

/* ------------------ Contact ------------------ */
.contact {
  padding: 90px 11% 40px;
}

.contact__main {
  display: grid;
  gap: 2rem;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
}

.contact__content h5 {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.contact__content li {
  margin-bottom: 12px;
}

.contact__content li a {
  display: inline-block;
  font-size: 15px;
  font-weight: 400;
  color: #374151;
  transition: all 0.3s ease;
}

.contact__content li a:hover {
  color: var(--text-color);
  transform: translateX(-5px);
}

/* ------------------ footer ------------------ */
.footer p {
  text-align: center;
  font-size: 14px;
  padding: 20px;
  letter-spacing: 1px;
  color: var(--other-color);
  background: #e3ffe6;
}

/* ------------------ Responsive ------------------ */
@media (max-width: 1700px) {
  .header {
    padding: 12px 3%;
  }

  .sticky {
    padding: 10px 3%;
  }

  section {
    padding: 80px 3% 70px;
  }

  .home {
    gap: 1rem;
  }

  .cta-content {
    margin: 0px 3%;
    padding: 100px 3% 0;
    border-radius: 30px;
  }
}

@media (max-width: 1515px) {
  :root {
    --big-font: 3.3rem;
    --h2-font: 2rem;
  }
}

@media (max-width: 1410px) {
  .row-text h6 {
    margin-bottom: 5px;
  }
  .row-text h3 {
    margin-bottom: 1rem;
  }

  .cta__text {
    margin-left: 55px;
  }
}

@media (max-width: 1200px) {
  #menu-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #c3e1ff;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: var(--other-color);
    font-size: 32px;
    z-index: 1001;
    cursor: pointer;
  }

  .header__navbar {
    position: absolute;
    top: 100%;
    right: 0;
    width: 300px;
    height: 125vh;
    background: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 13px 30px;
    transition: all 0.3s ease;
    right: 0;
  }

  .header__navbarLink {
    display: inline-block;
    margin: 1.1rem 0;
  }

  .header__navbar.open {
    right: -100%;
  }
}

@media (max-width: 940px) {
  .home {
    grid-template-columns: 1fr;
    height: 117vh;
    text-align: center;
  }

  .home__text {
    padding-top: 50px;
  }

  .home__img img {
    width: 500px;
    max-width: 100%;
  }

  .header__icons i {
    margin-right: 15px;
    margin-left: 5px;
  }
}

@media (max-width: 580px) {
  :root {
    --big-font: 3rem;
    --h2-font: 1.8rem;
  }

  .cta__text {
    margin-left: 30px;
  }

  .cta__text h3 {
    font-size: 2.4rem;
  }

  .cta {
    background: none;
  }

  .cta-content {
    padding: 0 3%;
    text-align: center;
  }
}
